@media screen and (max-width:768px) {
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    .header {
        flex-direction: column;
        gap: 20px;
    }

    .headerlink {
        flex-direction: column;
        gap: 5px;
    }

    .banner-content h3 {
        font-size: 24px;
    }

    .banner-content p {
        font-size: 14px;
    }

    .banner-content input {
        width: 300px;
    }

    .banner-content button {
        width: 100px;
        font-size: 16px;
    }

    .banner img {
        width: 650px;
        height: 400px;
        border-radius: 8px;
        align-items: center;
        margin-left: 37px;
    }

    .banner-overlay {
        width: 650px;
        height: 400px;
        border-radius: 8px;
    }

    .banner {
        margin-top: 150px;
        margin-bottom: 150px;
    }

    .legal h3 {
        font-size: 24px;
    }

    .legal p {
        font-size: 14px;
    }

    .box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        padding: 0 25px;
    }

    .box h3 {
        font-size: 24px;
    }

    .box p {
        font-size: 14px;
    }

    .img1 {
        width: 40px;
        height: 40px;
    }

    .img2 {
        width: 24px;
        height: 24px;
        margin-top: 15px;
    }
    .box div{
        width: 300px;
        height: auto;
    }
    .faq{
        flex-direction: column-reverse;
    }
    .faq-title h3{
        font-size: 13px;
    }
    .faq-margin p{
        font-size: 10px;
    }
}