* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    margin: auto;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.eb-garamond {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.header button {
    width: 220px;
    height: 64px;
    background-color: #B68C5A;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 135px;
    margin: 60px auto;
}

.headerlink {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    opacity: 0.5;
}
.banner{
    position: relative;
    margin-bottom: 120px;
    border-radius: 8px;
}

.banner img {
    width: 1280px;
    height: 600px;
    border-radius: 8px;
}

.banner-content h3 {
    font-size: 72px;
    font-weight: 800;
    text-align: center;
    color: white;
}

.banner-content p {
    text-align: center;
    color: white;
    margin: 24px 0px 32px 0;
}


.banner-input input {
    width: 500px;
    height: 64px;
    border-radius: 8px;
}

.banner-input button {
    height: 64px;
    width: 150px;
    background-color: #B68C5A;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}

.banner-input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: none;
}
.banner-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner-overlay {
    width: 1280px;
    height: 600px;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0));
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
}
.legal h3{
    color: #414040;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}
.legal p{
    color: #707070;
    text-align: center;
    margin-top: 24px;
}

.box div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #B68C5A;
    border-radius: 8px;
    width: 300px;
    height: 400px;
    padding: 20px;

}
.box h3{
    font-size: 32px;
    font-weight: 800;
    margin: 20px 0;
}
.box p{
    text-align: center;
}

.img1{
    width: 72px;
    height: 72px;
}
.img2{
    width: 40px;
    height: 40px;
    margin-top: 30px;
}
.box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 30px;
    margin: 50px auto 150px auto;
}
